@media print {
    body * {
        visibility: hidden;
    }
    #printable,
    #printable * {
        visibility: visible;
    }
    #printable {
        -webkit-print-color-adjust: exact !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
    }
    h2 {
        margin-top: 4rem;
    }
}

#printable {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}


/* Rotating gear */

.spin {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}