.title-wrapper {
    margin: 50px auto;
    text-align: center;
}

.pac-chemical-selector {
    margin: 50px auto;
    max-width: 600px;
}

.pac-page .form-check-input:checked {
    background-color: #93c54b;
    border-color: #93c54b;
}

.pac-questions {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pac-answers {
    margin: 20px 0;
}

.pac-radio-label {
    margin-right: 50px;
}

.pac-input-label {
    margin-right: 20px;
}

.pac-rating-wrapper {
    max-width: 600px;
    margin: auto;
}

.pac-btn {
    display: block
}

.pac-cell {
    margin: 10px 0;
    width: 600px;
}

.pac-ul {
    max-width: 600px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

#pac-cutoff {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

#pac-rating {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

#pac-values {
    margin-top: 20px;
    font-weight: bold;
}
