#thor-modal {
    max-width: 1200px;
}

#thor-des {
    margin-bottom: 16px;
}

#thor-result {
    margin: 30px 0;
}

.green-btn {
    color: white !important;
    border-radius: 6px;
    background-color: #93c54b !important;
}