.Cameo {
    margin-bottom: 20px;
}

.Cameo div {
    display: flex;
    justify-content: center;
    font-size: 1vw;
}

.Cameo table {
    background-color: white;
    border: 1px solid #B4B4B4;
}

.Cameo tbody {
    display: table-row-group;
    vertical-align: middle;
    border: 1px solid #B4B4B4;
}

.Cameo tr {
    display: table-row;
    vertical-align: inherit;
    border: 1px solid #B4B4B4;
}

.Cameo td {
    border: 1px solid #B4B4B4;
    padding-top: 6px;
    padding-left: 18px;
    padding-bottom: 6px;
    padding-right: 6px;
    text-align: left;
    vertical-align: top;
}

.Cameo th {
    border: 1px solid #B4B4B4;
    background-color: #E0EEE0;
    padding: 6px;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}

.cameo-wrapper {
    flex-direction: column;
    justify-content: center;
}

.cameo-details .pairwise_hazards {
    border: 1px solid rgba(223,215,202,.75);
    border-radius: 0.25rem;
    padding: 10px;
    margin: 10px 0;
}

