#sidebar {
    padding: 1rem;
    width: 250px;
    background-color: floralwhite;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

#sidebar .section-header {
    font-weight: bolder;
    font-size: small;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#sidebar a {
    font-weight: 500;
    color: black;
    border-radius: 6px;
}

#sidebar a:hover, #sidebar a.active {
    background-color: lightgreen;
    transition: 0.4s;
}
