.user-guide-pdf {
    height: 100vh;
    margin: 0 20px;
}

.user-guide-title {
    margin: 30px 20px;
}

.user-guide-sub-title {
    font-weight: bold;
}

ul.user-guide-list {
    padding: 0 100px;
}

ul.user-guide-list li {
    margin: 5px auto;
}

.user-guide-text {
    margin: 10px 20px;
}
