@media print {
  body * {
    visibility: hidden;
  }

  #printable, #printable * {
    visibility: visible;
  }

  #printable {
    -webkit-print-color-adjust: exact !important;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    justify-content: center;
  }
}
